[Unit]
Description=Firewall Setup
After=network.target opt.mount QCMAP_ConnectionManagerd.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usrdata/firewall/firewall.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
