[Unit]
Description=Scheduled Restart Service
After=network.target opt.mount

[Service]
Type=simple
User=www-data
SupplementaryGroups=dialout
ExecStart=/bin/sh /usrdata/quecdeck/script/scheduled_restart.sh
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5
ProtectHome=yes
LockPersonality=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
